.App1 {
  height: 50%;
  width: 22rem;
  margin: 50px auto;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
